/* 1. Universal Styles
   2. Header
   3. Main
   4. Footer
   5. Contact Page
   6. Animations
   7. Media Queries*/


/* 1. Universal Styles*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Exo 2";
}

h1 {
    font-size: 2.9rem;
    color:#eee8e4; 
    position: relative;
    left: 21%;
    top: 25%;
    display: inline-block;
}

h2{
    font-size: 34px;
    text-align: center;
    padding: 15px 0;
    
}

.italic {
    font-style: italic;
}

/* 2. Header */

header {
    width: 100%;
    height: 3rem;
    border-bottom: 2px solid #f97c31;
    display: flex;
    justify-content: space-between;
    background-color: #eee8e4;
}

header img {
    height: 90%;
    width: auto;
    padding-left: 5%;
    display: inline-block;
    
}
nav {
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: center;

}

header a {
    text-decoration: none;
    text-align: center;
    font-size: 1.35rem;
    font-weight: 600;
    color:#e26619;
    width: 20.5%;
}

a span {
    color:#e26619;
    transition: 0.25s;
}

header a:hover span {
    color: #817666;
    text-shadow: 0 0 15px #817666,
    0 0 15px #817666,
    0 0 15px #817666;
}

/* 3. Main */

.container {
    width: 80%;
    margin: auto;
}

.background {
    margin: 0;
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
    background-image: url(./Images/grey_wash_wall.png);
}

.intro {
    height: 620px;
    padding-top: 45px;
}

.photo {
    height: 510px;
    background-image: linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.5)), 
                      url(./Images/photo1n.png);
    background-size: cover;
    opacity: 0.8; 
}

.photo p {
    font-size: 1.7rem;
    font-weight: 600;
    padding: 26px;
    border: 4px solid #000;
    display: inline-block;
    position: relative;
    left: -15%;
    top: 45%;
    background-color: #fff;
    opacity: 0.5;
}

.photo span {
    font-size: 2.4rem;
    font-weight: 800;
    color: #114719;
    
}

#quote {
    font-size: 1.4rem;
    font-weight: 500;
    padding: 1rem;
    border: 4px solid #000;
    display: inline-block;
    position: relative;
    left: 17%;
    top: 57%;
    background-color: #fff;
    opacity: 0.5;
}


#about-me {
    padding: 15px 10% 20px;
}

#about-me p {
    font-size: 20px;
    columns: 2;
    text-align: justify;
}

.skills {
    display: flex;
    justify-content: space-around;
    padding-bottom: 15px;
}

.skills img {
    width: 10%;
    height: auto;
}

#portfolio {
    min-height: 330px;
}

.projects {
    display: flex;
    justify-content: space-evenly;
}

.project {
    display: flex;
    flex-flow: column;
    justify-items: center;
    align-items: center;
    width: 35%;
}
.projects a h3 {
    display: inline-block;
    padding: 5px;
    font-weight: 700;
    font-size: 20px;
    color: #000;
}

.description {
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.description p {
    text-align: center;
    padding: 11% 2%;
    font-size: 20px;
    min-height: 180px;
    background-color: #eee8e4;
    opacity: 0;
    transition: all .9s;
}
.description p:hover {
    opacity: 1;
    transition: all 1s;
}
.first {
    background-image: url(./Images/Company-project.png);
    background-size: cover;
}
.second {
    background-image: url(./Images/Responsive-club.png);
    background-size: cover;
}

.languages {
    color:#e26619;
}

.contact {
    text-align: center;
    height: 11rem;
}

.contact a {
    text-decoration: none;
    color: #e17e40;
    font-size: 26px;
    font-weight: 700;
    border: 4px solid #11AE43;
    box-shadow: 0 0 10px #ecab13;
    border-radius: 40%;
    position: relative;
    top: 3rem;
    padding: 2rem;
    background-image: url(./Images/grey_wash_wall.png);
    text-shadow: 0 0 1px #000;
    display: inline-block;
    animation: shake 1s infinite;
}

.contact a:hover {
    animation: none;
}

/* 4. Footer */

footer {
    height: 3rem;
    width: 100%;
    text-align: center;
    background-color: #eee8e4;
    padding-top: 10px;
    padding-bottom: 15px;
    border-top: 2px solid #f97c31;
}

footer p span{
    color:#e26619; 
}

#copy {
    font-weight: 600;
}

/* 5. Contact Page*/

header .contact-page {
    display: inline-block;
    padding-top: 7px;
}

#contact-photo img {
    float: right;
    width: 32%;
    height: auto;
    margin-right: 12%;
    margin-top: 3rem;
}

#contact {
    text-align: center;
    height: 37.45rem;
}

#contact img {
    width: 6%;
    height: auto;
    padding: 10px;
}

#contact h2 {
    padding: 22px 0 40px;
}

#contact p {
    font-size: 22px;
    font-weight: 500;
    line-height: 230%;
    padding-top: 20px;
}

#contact span {
    font-weight: 700;
}

#contact-footer {
    position: absolute;
    bottom: 0;
}

/* 6. Animations */


@keyframes shake{
    0%{
        transform: translate(2px, 2px);
    }
    10%{
        transform: translate(1px, 0px);
    }
    20%{
        transform: translate(-1px, 2px);
    }
    30%{
        transform: translate(1px, 0px);
    }
    40%{
        transform: translate(0px, 2px);
    }
    50%{
        transform: translate(2px, 3px);
    }
    60%{
        transform: translate(4px, 1px);
    }
    70%{
        transform: translate(2px, 3px) ;
    }
    80%{
        transform: translate(4px, 1px);
    }
    90%{
        transform: translate(1px, 3px);
    }
    100%{
        transform: translate(2px, 1px);
    }

}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* 7. Media Queries*/

@media only screen and (max-width: 1450px) {
    .photo p{
        left: -20%;
        top: 45%;
    }
}


@media only screen and (max-width: 1300px) {
    .photo {
        height: 450px;
    }

    .photo p {
        padding: 20px 26px;
    }
    
    #quote {
        left: 20%;
        top: 50%;
    }

    h1 {
        left: 24%;
    }
    .projects {
        justify-content: space-between;
    }

    .project {
        width: 45%;
    }
    
}

@media only screen and (max-width: 1138px) {
    .photo p{
        left: 9%;
        top: 35%;
    }

    #quote {
        top: 44%;
    }

    #contact {
        height: auto;
    }

    #contact-photo img {
        float: none;
        width: 24%;
        position: relative;
        left: 37%;
        margin: 0;
    }

    #contact h2 {
        padding-bottom: 5px;
        font-size: 30px;
    }

    #contact p {
        font-size: 18px;
        padding-top: 0;
    }
}

@media only screen and (max-width: 1050px) {
    .photo {
        background-position: right;
    }

    .photo p{
        left: 5%;
        top: 35%;
    }

    #quote {
        left: 13%;
        top: 44%;
    }

    h1 {
        left: 14%;
    }

    header .contact-page {
        font-size: 1.1rem;
        width: 25%;
    }
}

@media only screen and (max-width: 950px) {
    nav {
        width: 65%;
    }

    h1 {
        font-size: 2.2rem;
    }

    .project {
        width: 48%;
    }
}

@media only screen and (max-width: 810px) {
    header a {
        font-size: .95rem;
    } 

    h1 {
        left: 13%;
        top: 50%;
    }

    .photo p {
        top: 60%;
        font-size: 1.3rem;
        padding: 12px 4px;
    }

    .photo span {
        font-size: 1.7rem;
    }

    #quote {
        display: none;
    }

    .skills img {
        width: 15%;
    }

    header .contact-page {
        width: 35%;
    }

    #contact-photo img {
        width: 29%;
        left: 33%;
    }

    #contact img {
        width: 10%;
    }

    .projects {
        flex-wrap: wrap;
        justify-content: center;
    }

    .project {
        min-width: 311px;
    }
}

@media only screen and (max-width: 520px) {
    .photo p {
        left: 0.9%;
    }
}
